<!-- Welcome to {{title}}<br>
Hello {{user}} <br>

Product Name : {{product1.productName}}
<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul> -->

<!-- ************************************************************************ -->
<!-- Creative Tim -->

<app-navi></app-navi>
<div class="container-90">  
  <div class="row">
    <div class="col-4">
      <app-category></app-category>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>

  </div> 
</div>

<!-- ************************************************************************ -->

<!-- ************************************************************************ -->




<!-- ************************************************************************ -->
<!-- 
*ngFor bir built-in directive dir
Dirrective : ilgili html elementini manupule etmeye yarar
-->

<!--
  ng g component product (burdaki g generate kısaltmasıdır.)
-->
<!-- ************************************************************************ -->
<!-- Angularda dataları farklı bir şekilde gostermek için pipe ler kullanılır. 
  Build-in angularda vardır fakat genelde custom pipe kullanılır . Ornek için ProducyComponete git html de datayı farklı gostermek için kullanılır
  suistimal edilmemelidir. shopify dan aklına gelebilir {{ price | money}} diyince hyırlarsan fiyatın yanına para birim simgisini getiriyordu
-->




<!-- ************************************************************************ -->